.schedule-cell {
    padding: 4px !important;
    vertical-align: top;
    height: 100px; /* Chiều cao mỗi ô slot */
    border-right: 1px solid rgba(224, 224, 224, 1);
}

.schedule-card {
    height: 100%;
    width: 100%;
    color: white;
    border-radius: 4px !important;
    box-shadow: none !important;
}

.schedule-card .MuiCardContent-root {
    padding: 8px !important;
    display: flex;
    flex-direction: column;
}


.schedule-card .card-code {
    font-weight: bold !important;
    font-size: 0.85rem !important;
}

.schedule-card .card-time,
.schedule-card .card-room {
    font-size: 0.75rem !important;
    display: flex;
    align-items: center;
    gap: 4px;
    opacity: 0.9;
}

.schedule-card .MuiSvgIcon-root {
    font-size: 0.8rem !important;
}
.schedule-card.present {
    background-color: #4dc553;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #2b662f;
}
.schedule-card.absent {
    background-color: #d64646;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #8d1111; 
}

.schedule-card.not-yet {
    background-color: #a9b1b6;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #464747; 
}

.schedule-card .card-code,
.schedule-card .card-time,
.schedule-card .card-room,
.schedule-card .MuiSvgIcon-root {
    color: white !important;
}

.legend-chip {
    color: white !important;
    font-weight: bold !important;
}
.legend-chip.present { background-color: #4dc553 !important; }
.legend-chip.absent { background-color: #d64646 !important; }
.legend-chip.not-yet { background-color: #a9b1b6 !important; }